body {
    margin: 0;
    padding: 0;

}

.label {
    width: 50px;
    height: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
}

.input {
    display: none;
}

.icon {
    width: 100%;
    height: 100%;
    display: block;
    background: url("/IMG/logo_sinfondo.png") center/contain no-repeat;
}

.menu-nav {
    background: #FAF3EB;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(-100%);
    transition: 0.6s ease;

    z-index: 9;
    pointer-events: none;
}

.input:checked~.menu-nav {
    transform: translateY(0);
    pointer-events: auto;
}

.list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.item {
    padding: 10px;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 5vh;
    color: #BCD7EA;
    transition: 0.3s;
}

.link:hover {
    color: black;
}

main {
    min-height: 100vh;
}

.footer {
    background-color: #b6f13a;
    padding: 30px 20px;
    text-align: center;
}

.footer-contenido {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

a:hover {
    color: #2b6f00;
}

.footer-bottom {
    background-color: #1b2b0d;
    color: #b6f13a;
    padding: 20px;
    text-align: center;
}

.iconos {
    margin-top: 10px;
}

.iconos img {
    width: 25px;
    margin: 0 10px;
    transition: 0.3s;
}

.iconos img:hover {
    transform: scale(1.2);
}



@media screen and (min-width: 768px) {

    .label {
        pointer-events: none;
        cursor: default;
        z-index: 11;
    }

    .menu-nav {
        top: 20px;
        left: 50%;

        transform: translateX(-50%);
        width: auto;
        height: 60px;
        padding: 0 40px;
        background: rgba(255, 255, 255, 0.7);

        border-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: auto;
        border: 1px solid black;
    }

    .input:checked~.menu-nav {
        transform: translateX(-50%);
    }

    .list {
        display: flex;
        gap: 35px;
        align-items: center;
    }

    .item {
        padding: 0;
    }

    .link {
        font-size: 14px;
        font-weight: 500;
        color: #333;
        text-transform: none;
    }

    .link:hover {
        color: black;
    }

    .footer {
        padding: 40px;
        text-align: left;
    }

    .footer-contenido {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 40px;
        text-align: left;
    }

    .iconos {
        margin-top: 0;
    }

    .iconos img {
        margin-left: 15px;
    }
}