/* PÁGINA PRINCIPAL PARA NO MEZCLAR ESTILOS ENTRE ESTA, Y LA DE 'ESTILOS.CSS' */


.s-1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.fondo {
    position: absolute;
    inset: 0;
    z-index: 0;
}


.fondo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}


.contenido1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 1.5rem;
    max-width: 500px;
}

.titulo {
    font-size: 1.8rem;
    line-height: 1.2;
    color: white;
    margin-bottom: 1rem;
    max-width: 280px;
}

.p1 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: white;
    opacity: 0.9;
    max-width: 300px;
}

.palabra1 {

    font-family: "articulat-cf", sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;


}


.btn {
    display: inline-block;
    background: #ed832b;
    color: #ffffff;
    padding: 10px 16px;
    border-radius: 20px;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn span {
    margin-left: 5px;
    opacity: 0;
    transition: 0.3s ease;
}

.btn:hover {
    background: #1b19a8;
    transform: translateY(-5px);
}

.btn:hover span {
    opacity: 1;
    margin-left: 10px;
}

.s-2 {
    padding: 40px 16px;
    text-align: center;
}

h2 {
    margin-bottom: 24px;
}


.cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    text-align: left;
}


.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}


.contenido-2 {
    padding: 16px;
}

.contenido-2 h3 {
    margin: 0 0 8px;
    font-size: 18px;
}

.contenido-2 p {
    font-size: 14px;
    color: #000000;
    margin-bottom: 12px;
}

.contenido-2 a {
    text-decoration: none;
    color: #ed832b;
    font-weight: bold;
}


.marquee {
    width: 100%;
    background-color: #ed832b;
    overflow: hidden;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 0;
}

.marquee-texto {
    display: flex;
    white-space: nowrap;
    animation: marqueeMove 15s linear infinite;
}

.marquee-content span {
    color: white;
    font-size: 16px;
    padding-right: 50px;
}



.container-mapa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}


.mapa {
    width: 100%;
    height: 100%;
}


#google-map {
    width: 100%;
    height: 100%;
}


.contenido {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 24px;

}


.mapa-card {
    position: relative;
    height: 450px;
    padding: 16px 24px 24px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.mapa-label {
    position: absolute;
    top: -75px;
    font-size: 12px;
    letter-spacing: 1px;

    
}

.mapa-flecha {
    position: absolute;
    top: -75px;
    right: 16px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.mapa-texto {
    font-size: 26px; 
}

.mapa-btn {
    background: #ed832b;
    color: white;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    text-decoration: none;
    width: fit-content;
    transition: 0.5s;
}



.mapa-btn:hover {
    background: #1b19a8;
    transition: 0.5s;

}





















@keyframes marqueeMove {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}






/* VERSIÓN DESKTOP */



@media (min-width: 1024px) {

    .contenido1 {
        padding: 48px;
    }

    .titulo {
        font-size: 3rem;
        max-width: 500px;
    }

    .p1 {
        font-size: 1rem;
    }

    .container {
        flex-direction: column;
    }

    .s-2 h2 {
        font-size: 1.5rem;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 420px;
    }


    .container-mapa {
        grid-template-columns: 1fr 1fr;
        height: 100vh;
    }

    .mapa {
        height: 100%;
    }

    .contenido {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 48px;
    }

    .mapa-card {
        height: 420px;
        padding: 28px;
    }

    .mapa-texto {
        font-size: 32px;
    }



}